* text=auto
*.py text diff=python
*.docx binary
*.png binary
*.jpg binary
*.pdf binary
*.pptx binary
*.db binary
*.docx merge=ours
Y11/Computing/HW\ Task\ Database/*.sql linguist-detectable=true linguist-vendored=false
Y11/Computing/HW\ Task\ Database/*.sql linguist-language=sql
